In [162]:
import pandas as pd
import numpy as np

assessors2012 = pd.read_csv("assessors2012.csv").dropna()
assessors2016 = pd.read_csv("assessors2016.csv").dropna()
joined = pd.merge(assessors2012, assessors2016, left_on="parloc_id", right_on="LOC_ID")
assessors2016

Index(['MAP_PAR_ID', 'LOC_ID', 'POLY_TYPE', 'MAP_NO', 'SOURCE', 'PLAN_ID',
       'LAST_EDIT', 'BND_CHK', 'NO_MATCH', 'TOWN_ID', 'SHAPE_Leng', 'OID',
       'PROP_ID', 'LOC_ID_1', 'BLDG_VAL', 'LAND_VAL', 'OTHER_VAL', 'TOTAL_VAL',
       'FY', 'LOT_SIZE', 'LS_DATE', 'LS_PRICE', 'USE_CODE', 'SITE_ADDR',
       'ADDR_NUM', 'FULL_STR', 'LOCATION', 'CITY', 'ZIP', 'OWNER1', 'OWN_ADDR',
       'OWN_CITY', 'OWN_STATE', 'OWN_ZIP', 'OWN_CO', 'LS_BOOK', 'LS_PAGE',
       'REG_ID', 'ZONING', 'YEAR_BUILT', 'BLD_AREA', 'UNITS', 'RES_AREA',
       'STYLE', 'STORIES', 'NUM_ROOMS', 'LOT_UNITS', 'CAMA_ID', 'TOWN_ID_1',
       'Shape_Length', 'Shape_Area'],
      dtype='object')

###First we import our data. Next, let's try to perform a join:

In [166]:
nonConRes = list(["101","103","104","105","106","107","108","109","111","112"])
pattern = '|'.join(nonConRes)
joined[joined["luc_1"].str.contains(pattern) & joined["USE_CODE"].str.contains("102")]["luc_1"]

236     112C
538     1010
2127    1040
2850    1050
3101    1040
3652    1050
3730    1050
Name: luc_1, dtype: object

|Land Use Code | Land Use |
|-------------:|---------:|
|101 | Single Family |
|102 | Condominium |
|103 | Mobile Home |
|104 | Two-Family |
|105 | Three-Family |
|106 | Accessory |
|109 | Multiple Households |
|111 | Four to Eight |
|112 | More than Eight |

As many as **22** units in Chelsea were converted to condos during the 4-year period between 2012 and 2016.